.login__bg{
    background-image: url("https://media1.giphy.com/media/uFuds9kdGMvk07OKxn/giphy.gif?cid=ecf05e471wk3qfhb7h4glo8o4p77bk6ac1i66eguqcrfsmmc&ep=v1_gifs_related&rid=giphy.gif&ct=g");
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}